/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 .special-price-table {
    width: 100%;
    min-height: 100px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1rem 0;
}